<div class="content p-2 is-narrow">
  <div class="columns">
    <div class="column">
      <!-- First column. -->
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <div class="box my-4">
            <article class="media">
              <% if @users.count > 0 %>
                <% @users.each do |user| %>
                  <div class="media-left">
                    <%= link_to user_path(user) do %>
                      <figure class="image is-64x64 mx-0">
                        <%= image_tag user.gravatar_url, :class => "gravatar is-rounded" %>
                      </figure>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <a>
                        <%= link_to user_path(user) do %>
                          <div class="is-size-5 has-text-weight-bold">
                            <%= user.name %>
                          </div>
                          <div class="is-size-6 has-text-weight-light">
                            <% if user.friends_with?(current_user) %>
                              Friend
                            <% end %>
                          </div>
                        <% end %>
                      </a>
                    </div>
                  </div>
                  <% if user.has_pending_friendship_request?(current_user) && !user.friends_with?(current_user) %>
                    <%= link_to break_friendship_path(user), method: "put" do %>
                      <button class="button is-info level-item">
                        <span class="icon is-medium">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
                        </span>
                      </button>
                    <% end %>
                  <% elsif !user.has_pending_friendship_request?(current_user) && !user.friends_with?(current_user) %>
                    <%= link_to befriend_path(user), method: "put" do %>
                      <button class="button is-info is-light level-item">
                        <span class="icon is-medium">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
                        </span>
                      </button>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <div class="columns is-centered is-multiline">
                  <div class="column is-half">
                    <p class="is-size-6 has-text-weight-bold">We didn't find any results</p>
                  </div>
                  <div class="column is-full">
                    <p class="px-4 is-size-6 has-text-weight-normal">Make sure everything is typed correctly or try using other keywords.</p>
                  </div>
                </div>
              <% end %>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Second column. -->
    </div>
  </div>
</div>
