<div class="content pt-5 mt-5 is-narrow">
  <div class="columns">
    <div class="column">
      <!-- First column. -->
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <div class="box my-4">
            <article class="media">
              <% if @users.count > 0 %>
                <% @users.each do |user| %>
                  <!--  Sent friendship request -->
                    <div class="media-left">
                      <%= link_to user_path(user) do %>
                      <figure class="image is-64x64 mx-0">
                            <%= image_tag user.gravatar_url, :class => "gravatar is-rounded" %>
                          </figure>
                        <% end %>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <a>
                            <%= link_to user_path(user) do %>
                              <div class="is-size-6 has-text-weight-bold">
                                <%= user.name %>
                                <% if current_user.has_received_friendship_request?(user) && !current_user.friends_with?(user) %>
                                  <div class="is-size-6 has-text-weight-normal is-inline">
                                    has sent you a friendship request.
                                  </div>
                                <% elsif current_user.has_sent_friendship_request?(user) && !current_user.friends_with?(user) %>
                                  <div class="is-size-6 has-text-weight-normal is-inline">
                                    has received our friendship request.
                                  </div>
                                <% end %>
                              </div>
                              <div class="is-size-6 has-text-weight-light">
                                <% if current_user.friends_with?(user) %>
                                  Friend
                                <% end %>
                              </div>
                            <% end %>
                          </a>
                        </div>
                      </div>
                      <% if !current_user.has_sent_friendship_request?(user) && !current_user.friends_with?(user) %>
                        <%= link_to befriend_path(user), method: "put" do %>
                          <button class="button is-info is-light level-item">
                            <span class="icon is-medium">
                              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
                            </span>
                          </button>
                        <% end %>
                      <% elsif current_user.has_received_friendship_request?(user) && !current_user.friends_with?(user) %>
                        <div class="media-right mt-2">
                          <%= link_to accept_friendship_request_path(user), method: "put" do %>
                            <button class="button is-info is-medium">
                              <span class="icon is-medium">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              </span>
                            </button>
                          <% end %>
                          <%= link_to cancel_friendship_request_path(user), method: "put" do %>
                            <button class="button is-danger is-medium">
                              <span class="icon is-medium">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                              </span>
                            </button>
                          <% end %>
                        </div>

                    <% end %>
                <% end %>
              <% else %>
                <div class="columns is-centered is-multiline">
                  <div class="column is-half">
                    <p class="is-size-6 has-text-weight-bold">We didn't find any results</p>
                    <%= @searched_name %>
                  </div>
                  <div class="column is-full">
                    <p class="px-4 is-size-6 has-text-weight-normal">Make sure everything is typed correctly or try using other keywords.</p>
                  </div>
                </div>
              <% end %>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Second column. -->
    </div>
  </div>
</div>
