<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag "https://i.imgur.com/KFHMsCF.png", class: "pt-4 ml-4 mr-4", width:"112", height:"28" %>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <% if user_signed_in? %>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <%= form_tag(users_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search], placeholder: "Search on the Bugger", class: "is-size-6 input is-rounded") %>
              <% end %>
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item p-0">
          <div class="buttons">
            <div class="navbar-item">
              <%= link_to current_user do %>
                <button class="button is-info is-outlined px-2 mx-2 is-rounded">
                  <figure class="image">
                    <%= image_tag current_user.gravatar_url, :class => "gravatar is-rounded" %>
                  </figure>
                  <strong class="ml-2">
                    <%= current_user.name.split[0] %>
                  </strong>
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <div class="navbar-item is-hoverable pl-0">
          <div class="buttons">
            <% pending_friendships = Friendship.where(friend_id: current_user.id, pending: true) %>
            <% if pending_friendships.count > 0 %>
              <div class="button is-info is-outlined is-rounded px-5">
                <span class="icon">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z"></path></svg>
                  <div class="is-overlay ml-3">
                    <div class="button is-small is-danger is-rounded has-text-weight-bold is-overlay ml-5">
                      <%= pending_friendships.count %>
                    </div>
                  </div>
                </span>
              </div>
            <% else %>
              <div class="button is-info is-outlined is-rounded px-5">
                <span class="icon">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z"></path></svg>
                </span>
              </div>
            <% end %>
            <div class="navbar-dropdown px-2 is-right">
              <% if pending_friendships.count > 0 %>
                <% pending_friendships.each do |friendship| %>
                  <% next if friendship.pending == false || friendship.user_id == current_user.id %>
                  <% user = User.where(id: friendship.user_id) %>
                  <% user = user[0]%>
                  <div class="button is-light is-rounded px-2 pb-0 mb-0">
                    <div class="media-left">
                      <%= link_to user_path(user) do %>
                        <figure class="image is-32x32">
                          <%= image_tag user.gravatar_url, :class => "gravatar is-rounded" %>
                        </figure>
                      <% end %>
                    </div>
                    <div class="media-content pb-2">
                      <div class="content">
                        <%= link_to user_path(user) do %>
                          <div class="is-size-6 has-text-weight-bold">
                            <%= user.name %>
                            <b class="is-size-8 has-text-weight-normal">
                              has sent you a friendship request.
                            </b>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="media-right">
                      <%= link_to accept_friendship_request_path(user), method: "put" do %>
                        <button class="button is-info is-small">
                          <span class="icon is-medium">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          </span>
                        </button>
                      <% end %>
                      <%= link_to cancel_friendship_request_path(user), method: "put" do %>
                        <button class="button is-danger is-small">
                          <span class="icon is-medium">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                          </span>
                        </button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="button is-light is-rounded px-2 pb-0 mb-0">
                  <div class="media-content pb-2">
                    <div class="content">
                      <div class="is-size-6 has-text-weight-normal">
                        There are no notifications at the moment.
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="navbar-item is-hoverable pl-0 pr-4 mr-4">
          <div class="buttons pl-0 pr-4 mr-4">
            <div class="button is-info is-outlined is-rounded navbar-link">
              <span class="icon">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
              </span>
            </div>
            <div class="navbar-dropdown px-2 pb-0">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="button is-light is-rounded">
                  <span class="icon">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                    </svg>
                  </span>
                  <div class="has-text-weight-bold">Sign out</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</nav>