<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag "https://i.imgur.com/KFHMsCF.png", class: "pt-4 ml-4 mr-4", width:"112", height:"28" %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>

        <a class="navbar-item">
        <%= simple_form_for :search, url: users_path, method: "GET" do |f| %>
          <%= f.input :name, label: false, input_html: { placeholder: "Search on The Bugger", value: "", class: "is-overlay px-4" } %>
        <% end %>
      </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if user_signed_in? %>
            <div class="buttons">
              <%= link_to current_user do %>
                <button class="button is-info is-outlined">
                  <figure class="image">
                    <%= image_tag current_user.gravatar_url, :class => "gravatar is-rounded" %>
                  </figure>
                  <strong class="ml-2">
                    <%= current_user.name %>
                  </strong>
                </button>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <button class="button button is-light mr-2">
                  <span class="icon">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                    </svg>
                  </span>
                  <strong>Sign out</strong>
                </button>
              <% end %>
            </div>
          <% else %>
              <%= link_to new_user_registration_path do %>
                <button class="button button is-info mr-2">
                  <strong>Sign up</strong>
                </button>
              <% end %>
              <%= link_to new_user_session_path do %>
                <button class="button is-light">
                  Sign in
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>