<!DOCTYPE html>
<html>
  <head>
    <title>The Bugger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/navbar' %>

    <div class="hero is-primary has-text-centered">
      <strong>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </strong>
    </div>
  </head>
  <body>
    <div class="hero is-info is-fullheight">
      <%= yield %>
    </div>
  </body>
</html>
